/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 120px;
  height: auto;
  border: 3px solid black;
  margin: 0 auto 50px auto;
  list-style: none;
  padding: 0;
}
li{
  border: 1px solid black;
  width: 120px;
  height: 100px;
}

span {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-self: center;
  padding-top: 25px;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: purple;
}
#green{
  background: rgb(8, 221, 93);
}
#blue{
  background: rgb(30, 135, 255);
}
#black{
  background: black;
}
#red{
  background: red;
}
#darkBlue{
  background: rgb(23, 23, 144);
}

/* for the body */
.reset { 
  color: black;
  background-color: white;
}

/* Animation effect */
/*
Source - https://stackoverflow.com/a/38132760
Posted by The Dark Knight, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-08, License - CC BY-SA 3.0
*/

.chair:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate(15deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) rotate(-15deg);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.jumboSize {
  scale: 2.2;
}

.regularSize {
  scale: 1;
}
